body {
	background-image: url(https://agwarez.github.io/background.jpg);
	background-repeat: no-repeat;
	/*background-size: cover;*/
	color: white;
	font-family: 'Orbitron', sans-serif;
}



.jumbotron {
	color: #696969;
}