body {
	background-image: url(https://agwarez.github.io/background.jpg);
	background-repeat: no-repeat;
	color: white;
	font-family: 'Orbitron', sans-serif;
}

h1 {
	color: #01eec7;
}

h2 {
	font-family: 'Bangers', sans-serif;
}

a {
	text-decoration: none;
	text-transform: none;
	color: #009A80;
}

p {
	font-family: 'Quicksand', sans-serif;
}

.jumbotron {
	color: #696969;
	font-family: 'Orbitron', sans-serif;
	background-image: url(https://agwarez.github.io/sky.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 45%;
	color: white;
}

.text {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
}